.card{
    width: 190px;
    height: 90px;
}
.img-box{
    transform: translateY(-62px);
}
.logo{
    font-size: 26px;
    margin-left: 0px;
    padding: 10px 17px;
}
.social{
    font-size: 26px;
    margin-left:1rem;
    
}
.social a i{
    margin: 0px 4px;
    /* padding: 12px 28px; */

}
.name{
    margin: 10px 0px;
    font-size: 13px;
}

